{% set colors %}
  :root {
  {{ config.plugins.polls.colors }}
  }
{% endset %}
{% do assets.addInlineCss(colors) %}

<section class="poll poll__container poll__theme-{{ options.theme|default('default') }}" data-callback="{{ url(options.callback)|e('html_attr') }}" data-poll-id="{{ poll.id }}">
  <h2 class="poll__question">{{ poll.question|markdown(false) }}</h2>

  {% for answer in poll.answers %}
    {% set value = grav.polls.getAnswerValue(answer) %}
    {% if results[value] is defined %}
      {% set percent = results[value] / total_votes * 100 %}
      <div class="poll__bar">
        <div class="poll__progress" style="width:{{ percent }}%"></div>
        <div class="poll__text">{{ answer }}</div>
        <div class="poll__percent">{{ percent|round(0) }}%</div>
      </div>
    {% else %}
      <div class="poll__bar">
        <div class="poll__text">{{ answer }}</div>
        <div class="poll__percent">0%</div>
      </div>
    {% endif %}
  {% endfor %}

  {% if poll.advanced.show_total %}
    <p class="poll__total">{{ "PLUGIN_POLLS.TOTAL_VOTES"|t(total_votes)|markdown(false) }}</p>
  {% endif %}

  <div class="poll__buttons">
    <button type="button" data-view="poll" class="poll__view btn button">{{ "PLUGIN_POLLS.VOTE_BTN"|t }}</button>
  </div>

  {% if poll.advanced.show_created %}
    <p class="poll__created">{{ "PLUGIN_POLLS.CREATED_AT"|t(poll.advanced.created_at|date(config.system.pages.dateformat.short)) }}</p>
  {% endif %}

</section>

