{% extends 'partials/base.html.twig' %}

{#{% set slug = uri.basename %}#}
{#{% set base_route = location %}#}

{% block stylesheets %}
  {{ parent() }}
  {% do assets.addJs('plugin://polls/assets/admin/polls.js') %}
{% endblock %}

{% block titlebar %}
    <div class="button-bar">
        <a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
        <button class="button" type="submit" name="task" value="savePolls" form="blueprints"><i class="fa fa-check"></i> {{ "PLUGIN_ADMIN.SAVE"|tu }}</button>
    </div>
    <h1><i class="fa fa-fw fa-key"></i> {{ "PLUGIN_POLLS.TITLE"|tu }}</h1>
{% endblock %}

{% block content %}
    {% include 'partials/blueprints.html.twig' with { data: grav.polls.getData, blueprints: grav.polls.getBlueprints.init() } %}
{% endblock %}
